.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 20px;
    gap: 80px;
    background-color: #2f2f2e;
}

.about article {
    margin-top: 80px;
    padding: 20px;
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    border: 3px solid #dd9f0d;
    border-radius: 20px;
    background-color: #010101;
    box-shadow: 20px 20px 20px 1px rgba(200, 200, 200, .5);
}


.about article h2 {
    font-size: 40px;
    color: #ffffff;
}

.about article p {
    font-size: 22px;
    line-height: 40px;
    color: #c0bdbd;
    font-weight: bold;
}