header {
    width: 100vw;
    height: 78px;
    display: flex;
    background-color: rgba(20, 20, 20, .8);
}

nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    font-size: 24px;
}

ul .pagination {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

ul .pagination li a {
    color: #fff;
    padding: 8px;
    border-radius: 12px;
}

ul .credentials {
    display: flex;
    width: 20%;
}

ul .credentials li a {
    color: #fff;
    border: 1px solid #fff;
}

ul .credentials li a.signup {
    padding: 8px;
    border-radius: 12px;
}

ul .credentials li a.login {
    padding: 8px;
    background-color: #dd9f0d;
    border-radius: 12px;
}

ul .credentials li a:hover {
    color: #222222;
    border: 1px solid #dd9f0d;
    background-color: #fff;
}

ul .pagination li a:hover {
    background-color: #fff;
    outline: 1px solid #dd9f0d;
    color: #222222;
}